.w-33 {
  width: 33% !important;
}

.star {
  font-size: 0.6rem;
}
.name {
  margin-bottom: 0.3rem;
}

/* <li class="nav-item">
<a class="nav-link active" aria-current="page" href="#">Active</a>
</li> */
.catNav {
  border-color: var(--bs-nav-tabs-link-active-border-color) !important;
  /* border: 1px solid; */
  border-bottom: 0px;
}

.short {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.title-short {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.post-details-text {
  font-size: 0.9rem;
}

.body {
  background-color: #f6f6f7;
}
